<div class="container">
    <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
            <li class="list-group-item my-2">
                ⭐<%= link_to restaurant.name, restaurant_path(restaurant) %>
                <br>
                🍲<%= restaurant.category %>
                <br>
                🌇<%= restaurant.address %>
                <br>
                📞<%= restaurant.phone_number %>
            </li>
        <% end %>
    </ul>
</div>
